body{
    margin:0px;
   
}
#mainContainer{
    border: solid red 10px;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items:center;
    box-sizing:border-box;
}
#cardContainer{
    border:solid green 5px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    height: 60%;
    width: 60%;
    display:flex;
    flex-direction: column;
}
#jokeContainer{
    border: solid blue 5px;
    box-sizing: border-box;
    flex:0.8;
    display:flex;
    flex-direction:column;
}
#jokeSetup{
    border: solid orangered 3px;
    flex:0.5;
    margin:10px 20px;
}
#jokeDelivery{
    border: solid olive 3px;
    flex:0.5;
    margin:10px 20px;
}
#buttonContainer{
    border: solid black 3px;
    box-sizing: border-box;
    flex:0.2;
    display:flex;
    justify-content: space-between;
}
#shareButton{
    margin:10px 30px;
    border: solid 3px red;
    height: 50px;
    width: 90px;
    box-sizing: border-box;
    border-radius:5px;
}
#newJokeButton{
    margin:10px 30px;
    height: 50px;
    width: 90px;
    box-sizing: border-box;
    border: solid 3px purple;
    border-radius: 5px;
}